<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.nightwind.microinjector</string>
	<key>RDPxlPackageFiles</key>
	<array>
		<dict>
			<key>destination</key>
			<string>/usr/lib/libmicroinjector.dylib</string>
			<key>overwrite</key>
			<true/>
			<key>permanent</key>
			<false/>
			<key>executable</key>
			<true/>
			<key>source</key>
			<string>instroot/usr/lib/libmicroinjector.dylib</string>
		</dict>
		<dict>
			<key>destination</key>
			<string>/Library</string>
			<key>overwrite</key>
			<true/>
			<key>permanent</key>
			<true/>
			<key>source</key>
			<string>instroot/Library</string>
		</dict>
		<dict>
			<key>destination</key>
			<string>/System</string>
			<key>overwrite</key>
			<false/>
			<key>permanent</key>
			<false/>
			<key>source</key>
			<string>instroot/System</string>
		</dict>
		<dict>
			<key>destination</key>
			<string>/Library/MicroInjector/inject_launchd</string>
			<key>overwrite</key>
			<false/>
			<key>permanent</key>
			<false/>
			<key>executable</key>
			<true/>
			<key>source</key>
			<string>instroot/Library/MicroInjector/inject_launchd</string>
		</dict>
		<dict>
			<key>destination</key>
			<string>/Library/MicroInjector/launchd_trampoline.dylib</string>
			<key>overwrite</key>
			<false/>
			<key>permanent</key>
			<false/>
			<key>executable</key>
			<true/>
			<key>source</key>
			<string>instroot/Library/MicroInjector/launchd_trampoline.dylib</string>
		</dict>
		<dict>
			<key>destination</key>
			<string>/Library/MicroInjector/MicroLoader.dylib</string>
			<key>overwrite</key>
			<false/>
			<key>permanent</key>
			<false/>
			<key>executable</key>
			<true/>
			<key>source</key>
			<string>instroot/Library/MicroInjector/MicroLoader.dylib</string>
		</dict>
	</array>
	<key>RDPxlPackageName</key>
	<string>MicroInjector</string>
	<key>RDPxlPackageVersion</key>
	<string>0.0.1</string>
	<key>RDPxlPackageDesc</key>
	<string>Code injection platform for iPhone OS 1</string>
	<key>RDPxlPackageFormat</key>
	<string>1</string>
</dict>
</plist>